

.pagination{
  margin-left: 465px;
  display: flex;
  margin-bottom: 100px;
}

.pagination-button{
background-color: transparent;
border: 2px solid rgb(117, 117, 117);
margin-left: 15px;
border-radius: 5px;
padding: 5px;
}
