.blog-center {
  max-width: 736px;
  margin: auto;
}

.blog-img {
  margin-bottom: 50px;
}

.blog-body, .info-subtitle {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #777777;
  margin-bottom: 25px;
}

.info-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #474747;
  margin-bottom: 35px;
}

.info-subtitle {
  margin-bottom: 32px;
}

.info-about {
  padding-left: 22px;
  border-left: 1px solid #DFDFDF;
  margin-bottom: 48px;
}

.info-description, .info-author {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #474747;
  margin-bottom: 35px;
}

.elit-link {
  color: blue;
}

.info-author {
  margin-bottom: 0;
}

.lesson-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 39px;
}

.lesson-item {
  list-style: circle;
  padding-left: 17px;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #474747;
  margin-bottom: 30px;
}

.more-like {
  width: 736px;
  margin: auto;
  overflow-x: hidden;
}

.more-like__product-item {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  max-width: 736px;
}

.product-item__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.date {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
}

.sort {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #777777;
}

.more-title {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  color: #474747;
  margin-bottom: 22px;
  width: 544px;
  text-transform: capitalize;
}

.time {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #777777;
  margin-bottom: 17px;
}

.blog-product {
  max-width: 736px;
  border-bottom: 0;
  margin-bottom: 45px;
}

.more-like__title {
  margin-bottom: 40px;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: black;
}

.like, .share {
  position: absolute;
  top: 150px;
  left: 260px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.share {
  top: 220px;
}

.like:hover, .share:hover {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .blog-img {
    width: 540px;
  }
}
@media (max-width: 576.98px) {
  .blog-img {
    width: 440px;
  }
}
@media (max-width: 420px) {
  .blog-img {
    width: 300px;
  }
}
@media (max-width: 991.98px) {
  .more-title {
    width: auto;
  }
}
@media (max-width: 767.98px) {
  .more-like__product-item {
    width: 570px;
  }
  .more-like {
    width: 570px;
  }
  .more-title {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .more-like__product-item {
    width: 450px;
  }
  .more-like {
    width: 450px;
  }
  .more-title {
    width: 350px;
  }
}
@media (max-width: 490px) {
  .more-like__product-item {
    width: 380px;
  }
  .more-like {
    width: 380px;
  }
  .more-title {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .more-like__product-item {
    width: 280px;
  }
  .more-like {
    width: 280px;
  }
}/*# sourceMappingURL=blog.css.map */