@import "../../assets/scss/variables.scss";



.home-todo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0px 80px;
}

.home-right__title{
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $space-grey;
  margin-bottom: 58px;
}

@media (max-width: 991.98px){
  .home-todo{
    display: flex;
    flex-direction: column-reverse;
  }
  .home-left{ 
    margin-bottom: 25px;
  }
}